.env
__pycache__/
*.pyc
.venv/
.pytest_cache/
*.egg-info/
node_modules/
dist/
*.tsbuildinfo
.DS_Store
backend/tests/_test.db
wazuh/config/wazuh_indexer_ssl_certs/
wazuh/config/wazuh_cluster/wazuh_manager.conf
wazuh/host-suricata-logs/
wazuh/host-suricata-rules/
